force-app/main/default/flows/Opportunity_Onboarding_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>Creates an onboarding case when an Opportunity is closed won and it's the first one for that Account</description>
    <interviewLabel>Opportunity Onboarding Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Onboarding Flow</label>
    
    <!-- Process Metadata Values -->
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    
    <!-- Variables -->
    <variables>
        <name>AccountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    
    <variables>
        <name>ExistingClosedWonOpportunities</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    
    <variables>
        <name>CasePriority</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    
    <!-- Constants -->
    <constants>
        <name>MillionPounds</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>1000000.0</numberValue>
        </value>
    </constants>
    
    <!-- Get Account Record -->
    <recordLookups>
        <name>Get_Account_Record</name>
        <label>Get Account Record</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Existing_Closed_Won_Opportunities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    
    <!-- Check for existing closed won opportunities -->
    <recordLookups>
        <name>Get_Existing_Closed_Won_Opportunities</name>
        <label>Get Existing Closed Won Opportunities</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_First_Closed_Won</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    
    <!-- Decision: Check if this is the first closed won opportunity -->
    <decisions>
        <name>Check_If_First_Closed_Won</name>
        <label>Check If First Closed Won</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>Not First - Exit</defaultConnectorLabel>
        <rules>
            <name>First_Closed_Won</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Closed_Won_Opportunities</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Determine_Case_Priority</targetReference>
            </connector>
            <label>First Closed Won</label>
        </rules>
    </decisions>
    
    <!-- Decision: Determine case priority based on opportunity amount -->
    <decisions>
        <name>Determine_Case_Priority</name>
        <label>Determine Case Priority</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>Medium Priority</defaultConnectorLabel>
        <defaultConnector>
            <targetReference>Set_Medium_Priority</targetReference>
        </defaultConnector>
        <rules>
            <name>High_Value_Deal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>MillionPounds</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_High_Priority</targetReference>
            </connector>
            <label>High Value Deal</label>
        </rules>
    </decisions>
    
    <!-- Assignment: Set High Priority -->
    <assignments>
        <name>Set_High_Priority</name>
        <label>Set High Priority</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>CasePriority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Onboarding_Case</targetReference>
        </connector>
    </assignments>
    
    <!-- Assignment: Set Medium Priority -->
    <assignments>
        <name>Set_Medium_Priority</name>
        <label>Set Medium Priority</label>
        <locationX>302</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>CasePriority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Onboarding_Case</targetReference>
        </connector>
    </assignments>
    
    <!-- Create Case Record -->
    <recordCreates>
        <name>Create_Onboarding_Case</name>
        <label>Create Onboarding Case</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>{!Get_Account_Record.Name} Onboarding</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Account_Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>CasePriority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Opportunity Onboarding</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    
    <!-- Start element with trigger configuration -->
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account_Record</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    
    <status>Active</status>
</Flow>